<div class="politica-privacidad">
  <div class="privacidad-contenido">
    <h1>Política de Privacidad</h1>

    <p>
      Esta Política de Privacidad establece los términos en que Electrofic usa y protege la información que es proporcionada por sus usuarios al utilizar este sitio web. Nos comprometemos a la seguridad de los datos de nuestros usuarios.
    </p>

    <h2>1. Información Recopilada</h2>
    <p>Podemos recopilar la siguiente información:</p>
    <ul>
      <li>Nombre y datos de contacto.</li>
      <li>Información demográfica.</li>
      <li>Datos relacionados con servicios solicitados.</li>
      <li>Información técnica, como dirección IP o navegador utilizado.</li>
    </ul>

    <h2>2. Uso de la Información</h2>
    <p>
      Utilizamos la información recopilada para entender mejor las necesidades de nuestros clientes y brindar un mejor servicio, específicamente para:
    </p>
    <ul>
      <li>Mejorar nuestros productos y servicios.</li>
      <li>Enviar correos promocionales o informativos.</li>
      <li>Atender solicitudes o cotizaciones.</li>
    </ul>

    <h2>3. Seguridad</h2>
    <p>
      Nos comprometemos a mantener la información segura mediante protocolos técnicos y administrativos para evitar el acceso no autorizado.
    </p>

    <h2>4. Control de su Información Personal</h2>
    <p>
      Usted puede restringir la recopilación o el uso de su información personal en cualquier momento. Para ejercer sus derechos, puede escribirnos a
      <strong>
        <a [href]="'mailto:' + 'electrofic4' + '@' + 'gmail.com'" class="info-link">
          {{ 'electrofic4' + '@' + 'gmail.com' }}
        </a>
      </strong>.
    </p>


    <h2>5. Enlaces a Terceros</h2>
    <p>
      Este sitio web podría contener enlaces a otros sitios. No somos responsables por las prácticas de privacidad ni del contenido de esos sitios externos.
    </p>

    <h2>6. Cambios a esta Política</h2>
    <p>
      Esta política puede ser actualizada. Te recomendamos revisarla periódicamente para estar al tanto de cualquier cambio.
    </p>

    <p><strong>Última actualización:</strong> 25 de Junio del 2025.</p>
  </div>
</div>
