<div id="inicio">
  <app-inicio></app-inicio>
</div>

<div id="servicios">
  <app-servicios-empresa></app-servicios-empresa>
</div>

<div id="nosotros">
  <app-electrodomesticos></app-electrodomesticos>
</div>

<div id="contacto">
  <app-contactanos></app-contactanos>
</div>

<app-politicas></app-politicas>

<a
  href="https://wa.me/+573162230293"
  class="whatsapp-float"
  target="_blank"
  rel="noopener"
  aria-label="Chatea con nosotros en WhatsApp"
>
  <i class="bi bi-whatsapp" aria-hidden="true"></i>
</a>
