<nav class="Contactanos">
  <h1 class="Contactanos-title">Contáctanos</h1>
  <div class="Contactanos-contenido">
    <div class="Contactanos-info">
      <p class="info">
        ¿Tienes problemas con tus electrodomésticos o gasodomésticos? ¡Estamos listos para ayudarte con rapidez y garantía!
      </p>

      <div class="info-item">
        <i class="bi bi-geo-fill"></i>
        <span>Servicio a domicilio</span>
      </div>

      <div class="info-item">
        <i class="bi bi-clock-fill"></i>
        <span>Horarios flexibles</span>
      </div>

      <div class="info-item">
        <i class="bi bi-arrow-up-right-circle"></i>
        <span>Asesoría sin compromiso</span>
      </div>

      <div class="info-item">
        <i class="bi bi-telephone-fill"></i>
        <a href="tel:+573001234567" class="info-link">+57 316 223 0293</a>
      </div>

      <div class="info-item">
        <i class="bi bi-envelope-fill"></i>
        <a [href]="'mailto:' + 'electrofic4' + '@' + 'gmail.com'" class="info-link">
          {{ 'electrofic4' + '@' + 'gmail.com' }}
        </a>
      </div>

      <p class="info-end">¡Tu tranquilidad es nuestra prioridad!</p>
    </div>

    <div class="Contactanos-cuadro-wrapper">
      <div class="Contactanos-cuadro"></div>
      <img src="reparator.jpg" alt="Técnico en reparación" class="Contactanos-img">
    </div>
  </div>
</nav>
