<nav class="contenedor">
  <div class="inicio">
    <p class="Title">¡Bienvenido a Electrofic!</p>
    <p class="Info">Somos expertos en reparación y mantenimiento de electrodomésticos y gasodomésticos.
    Ofrecemos un servicio técnico confiable, rápido y a <b>domicilio</b>, con garantía incluida.
    Trabajamos con <b>responsabilidad, calidad y compromiso </b> para brindarte soluciones efectivas.
    Tu tranquilidad es nuestra prioridad.
</p>
  </div>
  <div class="imagen">
    <img src="Inicio.png" alt="electrofic-inicio" class="inicio-imagen">
  </div>
</nav>

<nav class="choose-us-container">
  <h1 class="slider-title">¿Por qué elegirnos?</h1>
  <div class="choose-us">
    <ul #iconSlider>
      <li *ngFor="let item of items"
          (mouseenter)="pauseSlider()"
          (mouseleave)="resumeSlider()">
        <i [class]="item.icon"></i>
        <span>{{ item.text }}</span>
      </li>
    </ul>
  </div>
</nav>
