<nav class="reparacion-electrodomesticos">
  <h1>Reparación Electrodomesticos.</h1>

  <div class="reparacion" [ngClass]="{ 'expandido': showMore }">
    <ng-container *ngFor="let img of MostrarImagenes; let i = index">
      <div class="imagen-contenedor" [class.oculto]="!showMore && i >= 6">
        <div class="texto-hover">{{ obtenerTexto(img) }}</div>
        <img [src]="img" alt="Imagen {{i}}" class="MostrarImagenes" />
      </div>
    </ng-container>
  </div>

  <div class="boton-mostrar">
    <button (click)="Mostrar()" class="button">{{showMore ? 'Menos': 'Mas'}}</button>
  </div>


</nav>
