<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
<div class="menu">
  <ul>
    <li class="inicio"><i class="bi bi-house-fill"></i> Inicio</li>
    <li class="servicios"><i class="bi bi-wrench-adjustable-circle"></i> Servicios</li>
    <li class="nosotros"><i class="bi bi-people-fill"></i> Nosotros</li>
    <li class="contacto"><i class="bi bi-envelope-fill"></i> Contacto</li>
  </ul>
</div>

<div class="text-slider">
  <div class="text-track">
    <span>Reparamos neveras, estufas y lavadoras.</span>
    <span>¡Servicio técnico rápido y garantizado!</span>
    <span>Atención a domicilio en toda la ciudad.</span>
  </div>
</div>
