/* You can add global styles to this file, and also import other style files */
@import "bootstrap-icons/font/bootstrap-icons.css";
body::before {
  content: ""; 
  position: fixed; 
  inset: 0; 
  z-index: -1; 
  background-image: url(../public/Imagen-principal.png);
  background-repeat: no-repeat;
  background-size: 212dvh 100dvh; 
  background-position: center;
  background-color: rgba(0, 0, 0, 0.45);
  background-blend-mode: overlay;
  margin: 0;
  padding: 0;
}


body{
  margin: 0;
  padding: 0;
}